<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UITestDriverURL" value="http://localhost:30303/wd/hub" />
    <!--<add key="UITestDriverURL" value="http://0.0.0:1234/wd/hub" />-->
    <add key="RFPortalPath" value="C:/Users/bekteshi/Desktop/RF Folder/net.itglo.cgi.rf.portal.t.apk" />

    <!--<add key="RFPortalPath" value="//ktn.group/Public/BE-KI/Datashares/Share Analyze Consumers/21 TEST TEAM/apk/net.itglo.cgi.rf.portal.t.apk" />-->
    <!--<add key="RFPortalPath" value="C:/Users/doko/Desktop/apk/net.itglo.cgi.rf.portal.t.apk" />-->   
    
  </appSettings>

</configuration>